@{
    ViewBag.Title = "Home Page";
}

<form id="loginForm">
<div class="container">
    <input type="text" name="UserName"  placeholder="user name"/>
    <input type="text" name="Password" placeholder="password" />
    <input type="submit"  value="Login"/>
    </div>

           </form>


</div>
